/* http://colorschemedesigner.com/#3t21TQI--w0w0 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,700);

/* resets */

body {
	margin: 0;
	background: #eee;
}

h1, h2, h3, h4, h5, h6, th {
	font-family: 'Raleway';
	font-weight: 300;
}

p, th, td, li, dd, dt, label, span {
	font-family: 'Source Sans Pro';
	font-weight: 300;
}

a {
	color: #016ca6;
}

a.ninjalink {
	color: inherit;
	text-decoration: none;
}

a:active {
	color: #328ebf;
}

img.left { display: block; float: left; margin: 0 48px; }
img.right { display: block; float: right; margin: 0 48px; }
img.center { display: block; margin: 0 auto 24px auto; }

.clearafter:before, .clearafter:after {
	content: "";
	display: table;
}

.clearafter:after {
	clear: both;
}

input[type=text], input[type=email] {
	font-family: 'Open Sans';
	font-weight: 300;
	padding-left: 6px;
}

.light::-webkit-input-placeholder {
    color:    #ddd;
}
.light:-moz-placeholder {
    color:    #ddd;
}
.light::-moz-placeholder {
    color:    #ddd;
}
.light:-ms-input-placeholder {
    color:    #ddd;
}

input.hidden {
	display: none;
}

/* button styling */

.button {
	display: inline-block;
	padding: 6px 16px;

	font-family: 'Source Sans Pro';
	font-size: 24px;
	font-weight: 300;
	text-decoration: none;

	cursor: pointer;
}

.button.accent {
	background: #04a7ff;
	color: #fff;
}

.button.accent:hover {
	background: #438dff;
}

.button.accent2 {
	background: #ff8b00;
	color: #fff;
}

.button.accent2:hover {
	background: #ffa840;
}

/* base elements */

#container {
	clear: both;
}

/* header elements */

#header {
	background: #fff;
	overflow: hidden;
}

.logo {
	float: left;
}

#h_logo {
	width: 48px;
	height: 48px;
}

#h_name {
	float: left;
	margin-left: 16px;
	margin-top: 11px;
	color: #666;
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 22px;
}

#h_name a {
	color: inherit;
	text-decoration: none;
}

/* top navigation */

#navbar {
	float: right;
}

#navbar a, #footer_nav a {
	display: inline-block;
	padding: 16px 8px 13px 8px;
	color: #666;
	font-family: 'Raleway';
	font-weight: 300;
	text-decoration: none;
}

#navbar a:hover {
	background: #f8f8f8;
	text-decoration: underline;
}

#navbar .accent {
	background: #ff8b00;
	color: #fff;
}

#navbar .accent:hover {
	background: #ffa840;
}

h2 {
	font-weight: lighter;
	text-transform: uppercase;
	color: #666;
}

/* layer classes */

.layer {
	margin: 0;
	padding: 64px 0;
}

.layer.nopad {
	padding: 12px 0;
}

.title {
	margin-bottom: 12px;
}

.subtitle {
	max-width: 500px;
	font-size: 18px;
	line-height: 22px;
}

.layer.dark {
	background: #444;
	color: #fff;
}

.layer.dark .title {
	color: #fff;
}

.layer.dark .subtitle {
	color: #aaa;
}

.layer.light {
	background: #e8e8e8;
}

.layer.light .title, .layer.light .subtitle {
	color: #444;
}

.layer.lighter {
	background: #f8f8f8;
}

.layer.lighter .title, .layer.lighter .subtitle {
	color: #444;
}

.layer.accent {
	background: #04a7ff;
}

.layer.accent .title {
	color: #fff;
}

.layer.accent .subtitle {
	color: #fff;
	color: rgba(255,255,255,0.8);
}

.layer.accent2 {
	background: #ff8b00;
}

.layer.accent2 .title {
	color: #fff;
}

.layer.accent2 .subtitle {
	color: #fff;
	color: rgba(255,255,255,0.8);
}

.layer.right * {
	text-align: right;
	margin-left: auto;
}

.layer.center * {
	text-align: center;
}

.layer.center .subtitle {
	max-width: none;
}

.layer.wall_of_text * {
	text-align: justify;
}

.layer.wall_of_text h2 {
	text-align: center;
}

.layer.wall_of_text p {
	max-width: 720px;
	margin: 20px auto;
	font-size: 20px;
	line-height: 26px;
}

.layer.large .title {
	font-size: 26px;
}

.layer.large .subtitle {
	font-size: 20px;
}

.layer.huge .title {
	font-size: 36px;
}

.layer.twocol .col {
	width: 50%;
	float: left;
}

.layer.twocol .col * {
	text-align: center;
}

.layer.twocol .subtitle {
	padding: 0 12px;
}

.layer_inner {
	max-width: 950px;
	margin: 0 auto;
	padding: 0 48px;
}

.layer.thin .layer_inner {
	max-width: 800px;
}

/* emphasis */

.action {
	margin-top: 10px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	font-family: 'Raleway';
}

/* sign up action */

#sign_up_button {
	display: block;
	width: 100px;
	margin: 0 auto;
	padding: 4px 6px;
	background: none;
	color: #fff;
	border: 2px solid #fff;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 22px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

#sign_up_button:hover {
	background: #ffa840;
}

/* social plugins */

.social {
	margin-top: 36px;
	text-align: center;
}

.social_reminder {
	color: #eee;
	font-size: 18px;
}

.social_circle_wrapper {
	position: relative;
	display: block;
	margin: 0 auto 16px auto;
	width: 128px;
	height: 128px;
}

img.social_circle {
	width: 128px;
	height: 128px;
}

img.social_circle.inactive {
	opacity: 0.6;
}

img.social_circle.active {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 128px;
	height: 128px;
	opacity: 0;

	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.col:hover > .social_circle_wrapper > img.social_circle.active {
	opacity: 1;
}

/* footer and bottom navigation */

#footer {
	padding: 0;
	overflow: hidden;
	background: #eee;
}

#footer_nav {
	text-align: center;
	margin-bottom: 0;
}

#footer_nav a {
	color: #666;
	margin-bottom: 0;
}

#footer_nav a:hover {
	background: #ddd;
}

/* responsiveness */

@media screen and (max-width: 720px) {
	#navbar {
		clear: both;
	}
}

@media screen and (max-width: 640px) {
	img.left, img.right { float: none; margin: 0 auto 24px auto; }
	
	.layer *, .layer.right *, .layer.center * {
		text-align: center;
	}
	
	.layer.twocol .col {
		float: none;
		width: auto;
	}
	
	.layer.twocol .col + .col {
		margin-top: 32px;
	}
}