.dev_img {
	display: block !important;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
	border-radius: 60px;
}

.dev_role {
	margin-bottom: -12px;
	font-size: 18px;
	font-style: italic;
	color: #888;
}

.dev_name {
	margin-bottom: -12px;
	font-size: 22px;
}