.choices_row label {
	position: relative;
	display: inline-block;
	margin: 8px;

	font-size: 36px;
	font-weight: 700;

	cursor: pointer;
	overflow: hidden;
}

.choices_row img {
	height: 120px;
}

.choices_row label:hover {
	outline: 4px solid #75cfff;
}

.choices_row input:checked + label {
	outline: 4px solid #328ebf;
	opacity: 1;
}

.caption {
	position: absolute;
	font-size: 16px;
	bottom: -4px;
	left: 0;
	right: 0;
	min-height: 24px;

	background: rgba(0, 0, 0, 0.5);
	color: #fff;

	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	opacity: 0;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.choices_row img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);

	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	transition: transform 0.3s;
}

.choices_row label:hover > img, .choices_row input:checked + label > img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.choices_row label:hover > .caption, .choices_row input:checked + label > .caption {
	bottom: 0;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}